@import './tailwind.scss';
@import './base.scss';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.header-backgound {
  background-image: url('/images/header-backgound.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .header-backgound {
    background-image: url('/images/header-backgound-lg.png');
  }
}
